.header {
  background-color: turquoise;
  color: whitesmoke;
  font-family: "Patua One", cursive;
  font-size: larger;
}

.wrapper {
  background-color: lightgray;
  font-family: "Asap Condensed", sans-serif;
}
